*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

/* ---------------- NAVBAR ---------------- */

.navbar{
  position: fixed;
  width:100%;
  padding:14px 60px;
  background: linear-gradient(90deg,#9b4dff,#e94057,#ff7a18);
  display:flex;
  align-items:center;
  justify-content:space-between;
  color:#fff;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:22px;
  font-weight:700;
}

.nav-links{
  display:flex;
  align-items:center;
  gap:32px;
  font-size:15px;
  font-weight:600;
}

.nav-links a{
  text-decoration:none;
  color:white;
  transition:0.2s ease;
}

/* hover color change */
.nav-links a:hover{
  color:#ffe85a;
}

.call-btn{
  background: linear-gradient(90deg,#ffb347,#ffcc33);
  padding:10px 18px;
  border-radius:10px;
  display:flex;
  align-items:center;
  gap:8px;
  color:#2d006b;
  font-weight:700;
  cursor:pointer;
}

/* button hover effect */
.call-btn:hover{
  filter:brightness(1.1);
}